<!--footer-->
<footer>
    <div class="bloc l-bloc none" id="bloc-15">
        <div class="container bloc-lg bloc-sm-lg">
            <div class="row">
                <div class="col-12 text-center">
                    <p class="mb-0">
                        Copyright @ 2025 Taskify
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!--footer end-->