<!-- nav -->
<div class="bloc l-bloc none" id="bloc-0">
    <div class="container bloc-sm bloc-no-padding-lg">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-light row navbar-expand-md hover-open-submenu" role="navigation">
                    <div class="container-fluid">
                        <a class="navbar-brand link-style ltc-2869" href="/">Taskly</a>
                        <button id="nav-toggle" type="button"
                                class="ui-navbar-toggler navbar-toggler border-0 p-0 ms-auto me-md-0"
                                aria-expanded="false" aria-label="Toggle navigation" data-bs-toggle="collapse"
                                data-bs-target=".navbar-25309">
                                    <span class="navbar-toggler-icon"><svg height="32" viewBox="0 0 32 32" width="32"><path
                                                    class="svg-menu-icon" d="m2 9h28m-28 7h28m-28 7h28"></path></svg></span>
                        </button>
                        <div class="collapse navbar-collapse navbar-35179 navbar-25309">
                            <ul class="site-navigation nav navbar-nav none ms-auto">
                                <!-- Home -->
                                <li class="nav-item">
                                    <a href="/" class="nav-link ltc-2869">Home</a>
                                </li>

                                <!-- About -->
                                <li class="nav-item">
                                    <a href="/about" class="nav-link a-btn ltc-2869">About</a>
                                </li>

                                <!-- Users -->
                                <li class="nav-item">
                                    <a href="/users" class="nav-link a-btn ltc-2869">Users</a>
                                </li>

                                <!-- Conditional rendering: If the user is authenticated -->
                                <% if (currentUser) { %>
                                    <!-- Profile link for logged-in users -->
                                    <li class="nav-item">
                                        <a href="/users/<%= currentUser._id %>" class="nav-link a-btn ltc-2869">Profile</a>
                                    </li>
                                    <!-- Logout for authenticated users -->
                                    <li class="nav-item">
                                        <a href="/users/logout" class="nav-link a-btn ltc-2869">Logout</a>
                                    </li>
                                <% } else { %>
                                    <!-- Login and Sign Up for unauthenticated users -->
                                    <li class="nav-item">
                                        <a href="/users/login" class="nav-link a-btn ltc-2869">Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/users/new" class="nav-link a-btn ltc-2869">Sign Up</a>
                                    </li>
                                <% } %>

                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- nav END -->