<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="robots" content="index, follow">
    <link rel="shortcut icon" type="image/x-icon" href="../public/img/favicon.ico">

    <link rel="stylesheet" type="text/css" href="../public/stylesheet/all.css?9598">

    <title>Home</title>


    <!-- Analytics -->

    <!-- Analytics END -->

</head>
<body>

<!-- Preloader -->
<div id="page-loading-blocs-notifaction" class="page-preloader"></div>
<!-- Preloader END -->


<!-- Main container -->
<div class="page-container">

    <header>

        <!-- bloc-0 -->
        <div class="bloc l-bloc none" id="bloc-0">
            <div class="container bloc-sm bloc-no-padding-lg">
                <div class="row">
                    <div class="col">
                        <nav class="navbar navbar-light row navbar-expand-md hover-open-submenu" role="navigation">
                            <div class="container-fluid">
                                <a class="navbar-brand link-style ltc-2869" href="..">Taskly</a>
                                <button id="nav-toggle" type="button"
                                        class="ui-navbar-toggler navbar-toggler border-0 p-0 ms-auto me-md-0"
                                        aria-expanded="false" aria-label="Toggle navigation" data-bs-toggle="collapse"
                                        data-bs-target=".navbar-25309">
                                    <span class="navbar-toggler-icon"><svg height="32" viewBox="0 0 32 32" width="32"><path
                                            class="svg-menu-icon" d="m2 9h28m-28 7h28m-28 7h28"></path></svg></span>
                                </button>
                                <div class="collapse navbar-collapse navbar-35179 navbar-25309">
                                    <ul class="site-navigation nav navbar-nav none ms-auto">
                                        <li class="nav-item">
                                            <a href=".." class="nav-link  ltc-2869">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="./about/" class="nav-link a-btn ltc-2869">About</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="./login/" class="nav-link a-btn ltc-2869">Login</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href=".." class="nav-link a-btn ltc-2869">Sign Up</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="./login/" class="nav-link a-btn ltc-2869">Profile</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="./login/" class="nav-link a-btn ltc-2869">Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- bloc-0 END -->

    </header>
    <section>

        <!-- bloc-1 -->
        <div class="bloc l-bloc none full-width-bloc" id="bloc-1">
            <div class="container bloc-no-padding bloc-no-padding-lg">
                <div class="row g-0">
                    <div class="col-md-12 col-lg-12 offset-lg-0 text-lg-start">
                        <picture>
                            <source type="image/webp" srcset="../public/img/lazyload-ph.png"
                                    data-srcset="../public/img/task--main.webp">
                            <img src="../public/img/lazyload-ph.png" data-src="img/task--main.jpg"
                                 class="img-fluid mx-auto d-block lazyload" alt="task  main" width="2240" height="1484">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
        <!-- bloc-1 END -->

    </section>
    <section>

        <!-- bloc-2 -->
        <div class="bloc l-bloc none" id="bloc-2">
            <div class="container bloc-lg bloc-md-lg">
                <div class="row">
                    <div class="col text-start">
                        <h2 class="mb-4 text-lg-center">
                            <span class="fa fa-quote-left none icon-lg"></span>&nbsp;The key is not to prioritize what’s
                            on your schedule, but to schedule your priorities.<br>
                        </h2>
                        <h4 class="text-lg-center">
                            — Stephen R. Covey
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- bloc-2 END -->

    </section>
    <section>

        <!-- bloc-3 -->
        <div class="bloc l-bloc full-width-bloc" id="bloc-3">
            <div class="container bloc-no-padding">
                <div class="row g-0">
                    <div class="col-md-12 offset-lg--1 col-lg-6">
                        <picture>
                            <source type="image/webp" srcset="../public/img/lazyload-ph.png"
                                    data-srcset="../public/img/task--main.webp">
                            <img src="../public/img/lazyload-ph.png" data-src="img/task--main.jpg"
                                 class="img-fluid mx-auto d-block lazyload" alt="task  main" width="1120" height="742">
                        </picture>
                    </div>
                    <div class="align-self-center offset-md-1 col-md-10 col-sm-10 offset-sm-1 offset-1 col-10 offset-lg-1 col-lg-4">
                        <h2 class="mg-md">
                            Seamless Task Management
                        </h2>
                        <h3 class="mg-md">
                            Organize, prioritize, and accomplish more every day.
                        </h3>
                        <p>
                            Taskly empowers you to track your tasks, set clear priorities, and stay focused on what
                            matters most. Experience a streamlined workflow designed to boost your productivity and help
                            you achieve your goals efficiently.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- bloc-3 END -->

    </section>
    <section>

        <!-- bloc-4 -->
        <div class="bloc l-bloc none full-width-bloc" id="bloc-4">
            <div class="container bloc-no-padding">
                <div class="row g-0">
                    <div class="order-md-0 col-md-12 col-lg-6 order-lg-1 offset-lg-1">
                        <picture>
                            <source type="image/webp" srcset="../public/img/lazyload-ph.png"
                                    data-srcset="../public/img/task--main.webp">
                            <img src="../public/img/lazyload-ph.png" data-src="img/task--main.jpg"
                                 class="img-fluid mx-auto d-block lazyload" alt="task  main" width="1120" height="742">
                        </picture>
                    </div>
                    <div class="align-self-center offset-md-1 col-md-10 col-lg-4 col-sm-10 offset-sm-1 col-10 offset-1">
                        <h2 class="mg-md">
                            Organize Your Workflow
                        </h2>
                        <h3 class="mg-md">
                            Stay productive and focused with Taskly.
                        </h3>
                        <p>
                            Taskly helps you manage your daily tasks efficiently, prioritize what matters most, and
                            achieve your goals with ease. Simplify your workflow and make every day more productive.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- bloc-4 END -->

    </section>
    <section>

        <!-- bloc-5 -->
        <div class="bloc l-bloc" id="bloc-5">
            <div class="container bloc-lg bloc-md-lg">
                <div class="row">
                    <div class="col-md-12 col-lg-6 offset-lg-3">
                        <h3 class="mg-md text-center">
                            View Users<br>
                        </h3>
                        <p class="text-center">
                            Explore our active users and their productivity stats below.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="row voffset">
                            <div class="col order-1 align-self-center">
                                <h4 class="text-center mg-sm text-lg-start">
                                    John Doe
                                </h4>
                                <p class="text-center text-lg-start">
                                <p class="text-center text-lg-start">
                                    Task Completion Rate: 92%<br>
                                    Failed Tasks: 3%
                                </p>
                            </div>
                            <div class="col-lg-3">
                                <picture>
                                    <source type="image/webp" srcset="../public/img/lazyload-ph.png"
                                            data-srcset="../public/img/placeholder-user.webp">
                                    <img src="../public/img/lazyload-ph.png" data-src="img/placeholder-user.png"
                                         class="img-fluid rounded-circle lazyload" alt="placeholder user" width="122"
                                         height="122"></picture>
                            </div>
                        </div>
                        <div class="row voffset">
                            <div class="col order-2 align-self-center">
                                <h4 class="text-center mg-sm text-lg-start">
                                    John Doe
                                </h4>
                                <p class="text-center text-lg-start">
                                <p class="text-center text-lg-start">
                                    Task Completion Rate: 87%<br>
                                    Failed Tasks: 5%
                                </p>
                            </div>
                            <div class="col-lg-3">
                                <picture>
                                    <source type="image/webp" srcset="../public/img/lazyload-ph.png"
                                            data-srcset="../public/img/placeholder-user.webp">
                                    <img src="../public/img/lazyload-ph.png" data-src="img/placeholder-user.png"
                                         class="img-fluid rounded-circle lazyload" alt="placeholder user" width="122"
                                         height="122"></picture>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-12">
                                <div class="row voffset">
                                    <div class="col-lg-3">
                                        <picture>
                                            <source type="image/webp" srcset="../public/img/lazyload-ph.png"
                                                    data-srcset="../public/img/placeholder-user.webp">
                                            <img src="../public/img/lazyload-ph.png" data-src="img/placeholder-user.png"
                                                 class="img-fluid rounded-circle lazyload" alt="placeholder user"
                                                 width="122" height="122"></picture>
                                    </div>
                                    <div class="col align-self-center">
                                        <h4 class="text-center mg-sm text-lg-start">
                                            John Doe
                                        </h4>
                                        <p class="text-center text-lg-start">
                                        <p class="text-center text-lg-start">
                                            Task Completion Rate: 95%<br>
                                            Failed Tasks: 2%
                                        </p>
                                    </div>
                                </div>
                                <div class="row voffset">
                                    <div class="col-lg-3">
                                        <picture>
                                            <source type="image/webp" srcset="../public/img/lazyload-ph.png"
                                                    data-srcset="../public/img/placeholder-user.webp">
                                            <img src="../public/img/lazyload-ph.png" data-src="img/placeholder-user.png"
                                                 class="img-fluid rounded-circle lazyload" alt="placeholder user"
                                                 width="122" height="122"></picture>
                                    </div>
                                    <div class="col align-self-center">
                                        <h4 class="text-center mg-sm text-lg-start">
                                            John Doe
                                        </h4>
                                        <p class="text-center text-lg-start">
                                        <p class="text-center text-lg-start">
                                            Task Completion Rate: 90%<br>
                                            Failed Tasks: 4%
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- bloc-5 END -->

    </section>
    <section>

        <!-- bloc-6 -->
        <div class="bloc l-bloc" id="bloc-6">
            <div class="container bloc-lg bloc-md-lg">
                <div class="row">
                    <div class="col text-start">
                        <h2 class="mb-4 text-lg-center">
                            <span class="fa fa-quote-left none icon-lg"></span>&nbsp; Time is more valuable than money.
                            You can get more money, but you cannot get more time.<br>
                        </h2>
                        <h4 class="text-lg-center ">
                            — Jim Rohn<br>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- bloc-6 END -->

    </section>
    <!-- ScrollToTop Button -->
    <button aria-label="Scroll to top button" class="bloc-button btn btn-d scrollToTop"
            onclick="scrollToTarget('1',this)">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 32 32">
            <path class="scroll-to-top-btn-icon" d="M30,22.656l-14-13-14,13"/>
        </svg>
    </button>
    <!-- ScrollToTop Button END-->


    <footer>

        <!-- bloc-15 -->
        <div class="bloc l-bloc none" id="bloc-15">
            <div class="container bloc-lg bloc-sm-lg">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-lg-12">
                        <p class="text-lg-center">
                            Copyright @ 2025 Taskify
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- bloc-15 END -->

    </footer>
</div>
<!-- Main container END -->


<!-- Additional JS -->
<script src="../public/js/all.js?6535"></script><!-- Additional JS END -->


</body>
</html>
