<% layout('../layouts/boilerplate')%>
<!-- All users -->
<div class="bloc l-bloc" id="bloc-12">
    <div class="container bloc-lg bloc-md-lg">
        <div class="row">
            <div class="col text-center">
                <h3 class="mg-md">
                    All Users<br>
                </h3>
            </div>
        </div>
        <div class="row voffset" id="users-list">
            <!-- User cards will be rendered here by JS -->
        </div>
        <nav aria-label="User pagination" class="d-flex justify-content-center mt-4">
            <ul class="pagination" id="pagination">
                <!-- Pagination buttons will be rendered here by JS -->
            </ul>
        </nav>
    </div>
</div>

<!-- All users -->


<!-- Additional JS -->
<script src="../../public/js/UserPagination.js"></script>
<!-- Additional JS END -->
