<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	<meta name="robots" content="index, follow">
    <link rel="shortcut icon" type="image/x-icon" href="../../public/img/favicon.ico">
    
	<link rel="stylesheet" type="text/css" href="../../public/stylesheet/all.css?9598">
	
    <title>User profile</title>


    
<!-- Analytics -->
 
<!-- Analytics END -->
    
</head>
<body data-clean-url="true">

<!-- Preloader -->
<div id="page-loading-blocs-notifaction" class="page-preloader"></div>
<!-- Preloader END -->


<!-- Main container -->
<div class="page-container">
    
<header>

<!-- bloc-0 -->
<div class="bloc l-bloc none" id="bloc-0">
	<div class="container bloc-sm bloc-no-padding-lg">
		<div class="row">
			<div class="col">
				<nav class="navbar navbar-light row navbar-expand-md hover-open-submenu" role="navigation">
					<div class="container-fluid">
						<a class="navbar-brand link-style ltc-2869" href="../..">Taskly</a>
						<button id="nav-toggle" type="button" class="ui-navbar-toggler navbar-toggler border-0 p-0 ms-auto me-md-0" aria-expanded="false" aria-label="Toggle navigation" data-bs-toggle="collapse" data-bs-target=".navbar-25309">
							<span class="navbar-toggler-icon"><svg height="32" viewBox="0 0 32 32" width="32"><path class="svg-menu-icon" d="m2 9h28m-28 7h28m-28 7h28"></path></svg></span>
						</button>
						<div class="collapse navbar-collapse navbar-35179 navbar-25309">
								<ul class="site-navigation nav navbar-nav none ms-auto">
									<li class="nav-item">
										<a href="../.." class="nav-link  ltc-2869">Home</a>
									</li>
									<li class="nav-item">
										<a href="../about" class="a-btn nav-link ltc-2869">About</a>
									</li>
									<li class="nav-item">
										<a href="../.." class="nav-link a-btn ltc-2869">Signup</a>
									</li>
									<li class="nav-item">
										<a href="../login" class="nav-link a-btn ltc-2869">Login</a>
									</li>
								</ul>
							</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- bloc-0 END -->

</header>
<!-- bloc-9 -->
<div class="bloc l-bloc none" id="bloc-9">
	<div class="container bloc-lg bloc-no-padding-lg">
		<div class="row">
			<div class="text-start col-lg-12">
				<div class="row">
					<div class="col-12 col-lg-6">
<!--						<picture><source type="image/webp" srcset="../../public/img/lazyload-ph.png" data-srcset="../../public/img/placeholder-user.webp"><img src="../../public/img/lazyload-ph.png" data-src="../../public/img/placeholder-user.png" class="img-fluid rounded-circle mx-auto d-block lazyload" alt="placeholder user" width="500" height="500"></picture>-->
						<picture><source type="image/webp" srcset="../../public/img/lazyload-ph.png" data-srcset="../../public/img/placeholder-user.webp"><img src="../../public/img/lazyload-ph.png" data-src="../img/placeholder-user.png" class="img-fluid mx-auto d-block img-rd-lg lazyload" alt="placeholder user" width="267" height="267"></picture>
					</div>
					<div class="col align-self-center text-lg-center offset-1 mt-2 text-sm-center offset-sm-0">
						<h4 class="mb-4 mb-lg-1">
							Fullname Jane Doe
						</h4>
						<h4 class="mb-4 mb-lg-1">
							Username: JaneDoe<br>
						</h4>
						<h4 class="mb-4 mb-lg-1">
							Member Since: Mar 2025
						</h4><a href="../.." class="btn mt-lg-5 btn-lg btn-wire float-lg-none btn-style">Edit Profile</a>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="divider-h">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-9 END -->

<!-- bloc-10 -->
<div class="bloc l-bloc" id="bloc-10">
	<div class="container bloc-lg bloc-md-lg">
		<div class="row">
			<div class="text-start col-lg-12">
				<h2 class="mb-4 mb-lg-4 float-lg-none text-lg-center">
					<span class="et-icon-linegraph"></span>&nbsp;Productivity Stats
				</h2>
			</div>
			<div class="col offset-lg-1">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<h3 class="mb-4 mb-lg-0 h3-style">
							<span class="ion ion-checkmark-round icon-md"></span>&nbsp;Tasks Completed: 42<br>
						</h3>
						<h3 class="mb-4 mb-lg-0">
							<span class="fa fa-star"></span>&nbsp;Streak: &nbsp; &nbsp;4 days<br>
						</h3>
					</div>
					<div class="text-lg-start col-lg-6">
						<h3 class="mb-4 mb-lg-0">
							<span class="fa fa-star"></span>&nbsp;Ongoing Tasks: 6<br>
						</h3>
						<h3 class="mb-4 mb-lg-0">
							<span class="fa fa-star"></span>&nbsp;Average Completion Time : 6<br>
						</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="divider-h">
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-10 END -->

<!-- bloc-11 -->
<div class="bloc l-bloc" id="bloc-11">
	<div class="container bloc-lg bloc-no-padding-lg">
		<div class="row">
			<div class="text-start col-lg-12">
				<h2 class="mb-4 mb-lg-4 float-lg-none text-lg-center">
					<span class="et-icon-linegraph"></span>Account Settings<br>
				</h2>
			</div>
			<div class="col text-start text-lg-center order-lg-0">
				<a href="../.." class="btn w-100 btn-button-style btn-lg btn-wire">Change Password</a>
			</div>
			<div class="col text-start text-lg-center">
				<a href="../.." class="btn w-100 btn-button-style btn-lg btn-wire">Delete Account</a>
			</div>
			<div class="text-start offset-lg-0 text-lg-start col-lg-12 mt-lg-2 mb-lg-2">
				<a href="../.." class="btn w-100 btn-button-style btn-lg btn-wire mb-lg-5 mt-lg-3">LogOut</a>
			</div>
		</div>
	</div>
</div>
<!-- bloc-11 END -->

<!-- ScrollToTop Button -->
<button aria-label="Scroll to top button" class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1',this)"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 32 32"><path class="scroll-to-top-btn-icon" d="M30,22.656l-14-13-14,13"/></svg></button>
<!-- ScrollToTop Button END-->


<footer>

<!-- bloc-15 -->
<div class="bloc l-bloc none" id="bloc-15">
	<div class="container bloc-lg bloc-sm-lg">
		<div class="row">
			<div class="col-md-3 col-sm-6 col-lg-12">
				<p class="text-lg-center">
					Copyright @ 2025 Taskify
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-15 END -->

</footer>
</div>
<!-- Main container END -->
    


<!-- Additional JS -->
<script src="../../public/js/all.js?6535"></script><!-- Additional JS END -->


</body>
</html>
