<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="robots" content="index, follow">
    <link rel="shortcut icon" type="image/x-icon" href="../../public/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../../public/stylesheet/custom.css">
    <link rel="stylesheet" type="text/css" href="../../public/stylesheet/all.css?9598">

    <title>UserSetting</title>


    <!-- Analytics -->

    <!-- Analytics END -->

</head>
<body data-clean-url="true">

<!-- Preloader -->
<div id="page-loading-blocs-notifaction" class="page-preloader"></div>
<!-- Preloader END -->


<!-- Main container -->
<div class="page-container">

    <header>

        <!-- bloc-0 -->
        <div class="bloc l-bloc none" id="bloc-0">
            <div class="container bloc-sm bloc-no-padding-lg">
                <div class="row">
                    <div class="col">
                        <nav class="navbar navbar-light row navbar-expand-md hover-open-submenu" role="navigation">
                            <div class="container-fluid">
                                <a class="navbar-brand link-style ltc-2869" href="../..">Taskly</a>
                                <button id="nav-toggle" type="button"
                                        class="ui-navbar-toggler navbar-toggler border-0 p-0 ms-auto me-md-0"
                                        aria-expanded="false" aria-label="Toggle navigation" data-bs-toggle="collapse"
                                        data-bs-target=".navbar-25309">
                                    <span class="navbar-toggler-icon"><svg height="32" viewBox="0 0 32 32" width="32"><path
                                            class="svg-menu-icon" d="m2 9h28m-28 7h28m-28 7h28"></path></svg></span>
                                </button>
                                <div class="collapse navbar-collapse navbar-35179 navbar-25309">
                                    <ul class="site-navigation nav navbar-nav none ms-auto">
                                        <li class="nav-item">
                                            <a href="../.." class="nav-link  ltc-2869">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="../about" class="a-btn nav-link ltc-2869">About</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="../.." class="nav-link a-btn ltc-2869">Signup</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="../login" class="nav-link a-btn ltc-2869">Login</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- bloc-0 END -->

    </header>
    <!-- bloc-13 -->
    <div class="bloc none l-bloc" id="bloc-13">
        <div class="container bloc-lg-lg">
            <div class="row">
                <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2">

                    <div class="signup-card">
                        <h1 class="mb-4 text-center">Edit User Settings</h1>
                        <!-- Avatar Section -->
                        <div class="row">
                            <div class="col-lg-12 mt-5">
                                <h4 class="mb-4 text-lg-center">Update Profile Photo</h4>
                            </div>
                            <div class="text-lg-start col-lg-12 mb-lg-2">
                                <div class="form-group mb-3">
                                    <div class="avatar-preview mb-4">
                                        <img id="avatar-large" class="avatar-large"
                                             src="../../public/img/avatars/avatar-1.jpg" alt="Selected avatar">
                                    </div>
                                    <div class="avatar-gallery mb-5 flex-wrap justify-center">
                                        <picture>
                                            <source type="image/webp" srcset="../../public/img/lazyload-ph.png"
                                                    data-srcset="../../public/img/avatars/avatar-1.webp">
                                            <img src="../../public/img/lazyload-ph.png"
                                                 data-src="../../public/img/avatars/avatar-1.jpg"
                                                 class="avatar-thumb selected img-fluid rounded-circle shadow lazyload"
                                                 data-avatar="../../public/img/avatars/avatar-1.jpg"
                                                 alt="Avatar 1" width="64" height="64" style="object-fit:cover;">
                                        </picture>
                                        <picture>
                                            <source type="image/webp" srcset="../../public/img/lazyload-ph.png"
                                                    data-srcset="../../public/img/avatars/avatar-2.webp">
                                            <img src="../../public/img/lazyload-ph.png"
                                                 data-src="../../public/img/avatars/avatar-2.jpg"
                                                 class="avatar-thumb img-fluid rounded-circle shadow lazyload"
                                                 data-avatar="../../public/img/avatars/avatar-2.jpg"
                                                 alt="Avatar 2" width="64" height="64"
                                                 style="object-fit:cover; aspect-ratio:1/1;">
                                        </picture>
                                        <picture>
                                            <source type="image/webp" srcset="../../public/img/lazyload-ph.png"
                                                    data-srcset="../../public/img/avatars/avatar-3.webp">
                                            <img src="../../public/img/lazyload-ph.png"
                                                 data-src="../../public/img/avatars/avatar-3.jpg"
                                                 class="avatar-thumb img-fluid rounded-circle shadow lazyload"
                                                 data-avatar="../../public/img/avatars/avatar-3.jpg"
                                                 alt="Avatar 3" width="64" height="64" style="object-fit:cover;">
                                        </picture>
                                        <picture>
                                            <source type="image/webp" srcset="../../public/img/lazyload-ph.png"
                                                    data-srcset="../../public/img/avatars/avatar-4.webp">
                                            <img src="../../public/img/lazyload-ph.png"
                                                 data-src="../../public/img/avatars/avatar-4.jpg"
                                                 class="avatar-thumb img-fluid rounded-circle shadow lazyload"
                                                 data-avatar="../../public/img/avatars/avatar-4.jpg"
                                                 alt="Avatar 4" width="64" height="64"
                                                 style="object-fit:cover; aspect-ratio:1/1;">
                                        </picture>
                                        <picture>
                                            <source type="image/webp" srcset="../../public/img/lazyload-ph.png"
                                                    data-srcset="../../public/img/avatars/avatar-5.webp">
                                            <img src="../../public/img/lazyload-ph.png"
                                                 data-src="../../public/img/avatars/avatar-5.jpg"
                                                 class="avatar-thumb img-fluid rounded-circle shadow lazyload"
                                                 data-avatar="../../public/img/avatars/avatar-5.jpg"
                                                 alt="Avatar 5" width="64" height="64"
                                                 style="object-fit:cover; aspect-ratio:1/1;">
                                        </picture>
                                        <picture>
                                            <source type="image/webp" srcset="../../public/img/lazyload-ph.png"
                                                    data-srcset="../../public/img/avatars/avatar-6.webp">
                                            <img src="../../public/img/lazyload-ph.png"
                                                 data-src="../../public/img/avatars/avatar-6.jpg"
                                                 class="avatar-thumb img-fluid rounded-circle shadow lazyload"
                                                 data-avatar="../../public/img/avatars/avatar-6.jpg"
                                                 alt="Avatar 6" width="64" height="64" style="object-fit:cover;">
                                        </picture>
                                        <picture>
                                            <source type="image/webp" srcset="../../public/img/lazyload-ph.png"
                                                    data-srcset="../../public/img/avatars/avatar-7.webp">
                                            <img src="../../public/img/lazyload-ph.png"
                                                 data-src="../../public/img/avatars/avatar-7.jpg"
                                                 class="avatar-thumb img-fluid rounded-circle shadow lazyload"
                                                 data-avatar="../../public/img/avatars/avatar-7.jpg"
                                                 alt="Avatar 7" width="64" height="64" style="object-fit:cover;">
                                        </picture>
                                        <picture>
                                            <source type="image/webp" srcset="../../public/img/lazyload-ph.png"
                                                    data-srcset="../../public/img/avatars/avatar-8.webp">
                                            <img src="../../public/img/lazyload-ph.png"
                                                 data-src="../../public/img/avatars/avatar-8.jpg"
                                                 class="avatar-thumb img-fluid rounded-circle shadow lazyload"
                                                 data-avatar="../../public/img/avatars/avatar-8.jpg"
                                                 alt="Avatar 8" width="64" height="64" style="object-fit:cover;">
                                        </picture>
                                        <picture>
                                            <source type="image/webp" srcset="../../public/img/lazyload-ph.png"
                                                    data-srcset="../../public/img/avatars/avatar-9.webp">
                                            <img src="../../public/img/lazyload-ph.png"
                                                 data-src="../../public/img/avatars/avatar-9.jpg"
                                                 class="avatar-thumb img-fluid rounded-circle shadow lazyload"
                                                 data-avatar="../../public/img/avatars/avatar-9.jpg"
                                                 alt="Avatar 9" width="64" height="64" style="object-fit:cover;">
                                        </picture>
                                        <picture>
                                            <source type="image/webp" srcset="../../public/img/lazyload-ph.png"
                                                    data-srcset="../../public/img/avatars/avatar-10.webp">
                                            <img src="../../public/img/lazyload-ph.png"
                                                 data-src="../../public/img/avatars/avatar-10.jpg"
                                                 class="avatar-thumb img-fluid rounded-circle shadow lazyload"
                                                 data-avatar="../../public/img/avatars/avatar-10.jpg"
                                                 alt="Avatar 10" width="64" height="64" style="object-fit:cover;">
                                        </picture>
                                        <picture>
                                            <source type="image/webp" srcset="../../public/img/lazyload-ph.png"
                                                    data-srcset="../../public/img/avatars/avatar-11.webp">
                                            <img src="../../public/img/lazyload-ph.png"
                                                 data-src="../../public/img/avatars/avatar-11.jpg"
                                                 class="avatar-thumb img-fluid rounded-circle shadow lazyload"
                                                 data-avatar="../../public/img/avatars/avatar-11.jpg"
                                                 alt="Avatar 11" width="64" height="64" style="object-fit:cover;">
                                        </picture>
                                        <picture>
                                            <source type="image/webp" srcset="../../public/img/lazyload-ph.png"
                                                    data-srcset="../../public/img/avatars/avatar-12.webp">
                                            <img src="../../public/img/lazyload-ph.png"
                                                 data-src="../../public/img/avatars/avatar-12.jpg"
                                                 class="avatar-thumb img-fluid rounded-circle shadow lazyload"
                                                 data-avatar="../../public/img/avatars/avatar-12.jpg"
                                                 alt="Avatar 12" width="64" height="64" style="object-fit:cover;">
                                        </picture>
                                        <picture>
                                            <source type="image/webp" srcset="../../public/img/lazyload-ph.png"
                                                    data-srcset="../../public/img/avatars/avatar-13.webp">
                                            <img src="../../public/img/lazyload-ph.png"
                                                 data-src="../../public/img/avatars/avatar-13.jpg"
                                                 class="avatar-thumb img-fluid rounded-circle shadow lazyload"
                                                 data-avatar="../../public/img/avatars/avatar-13.jpg"
                                                 alt="Avatar 13" width="64" height="64" style="object-fit:cover;">
                                        </picture>
                                    </div>
                                </div>
                            </div>
                            <form id="user-settings-form" action="custom-action-url" method="POST"
                                  enctype="multipart/form-data" novalidate>
                                <!-- Name and Username Fields -->
                                <div class="row">
                                    <div class="col-lg-6 mb-3">
                                        <label class="form-label" for="fullname">Full Name</label>
                                        <input id="fullname" class="form-control" required name="fullname"
                                               placeholder="Update your name" autocomplete="name">
                                        <div class="invalid-feedback">Full name is required.</div>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <label class="form-label" for="username">Username</label>
                                        <input id="username" class="form-control" required name="username"
                                               placeholder="Edit your username" autocomplete="username">
                                        <div class="invalid-feedback">Username is required.</div>
                                    </div>
                                </div>

                                <!-- Email Update Section -->
                                <div class="mb-4 border-bottom pb-3">
                                    <h4 class="text-center text-secondary mb-4">Update Email</h4>
                                    <div class="row">
                                        <div class="col-lg-6 mb-3">
                                            <label class="form-label" for="old_email">Old Email Address</label>
                                            <input id="old_email" class="form-control" name="old_email" type="email"
                                                   placeholder="Enter old email address" required autocomplete="email">
                                            <div class="invalid-feedback">A valid email is required.</div>
                                        </div>
                                        <div class="col-lg-6 mb-3">
                                            <label class="form-label" for="new_email">New Email Address</label>
                                            <input id="new_email" class="form-control" name="new_email" type="email"
                                                   placeholder="Enter new email address" required autocomplete="email">
                                            <div class="invalid-feedback">A valid email is required.</div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Password Update Section -->
                                <div class="mb-4">
                                    <h4 class="text-center text-secondary mb-4">Update Password</h4>
                                    <div class="row">
                                        <div class="col-lg-6 mb-3">
                                            <label class="form-label" for="new_password">Enter New Password</label>
                                            <input id="new_password" class="form-control" name="new_password"
                                                   placeholder="Enter new password" type="password"
                                                   autocomplete="new-password">
                                            <small class="text-muted">Must be at least 8 characters.</small>
                                        </div>
                                        <div class="col-lg-6 mb-3">
                                            <label class="form-label" for="confirm_new_password">Confirm New
                                                Password</label>
                                            <input id="confirm_new_password" class="form-control"
                                                   name="confirm_new_password"
                                                   placeholder="Confirm new password" type="password"
                                                   autocomplete="new-password">
                                        </div>
                                    </div>
                                </div>

                                <!-- Submit Button -->
                                <button class="btn btn-secondary text-light w-100 shadow-sm mt-4" type="submit">Update
                                    Changes
                                </button>
                            </form>
                            <hr class="my-4">
                            <div class="text-center">
                                <h4 class="mb-3 text-danger">Delete Account</h4>
                                <form id="delete-account-form" action="delete-account-url" method="POST"
                                      onsubmit="return confirm('Are you sure you want to delete your account? This action cannot be undone.');">
                                    <button type="submit" class="btn btn-danger w-100">Delete Account</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bloc-13 END -->

    <!-- ScrollToTop Button -->
    <button aria-label="Scroll to top button" class="bloc-button btn btn-d scrollToTop"
            onclick="scrollToTarget('1',this)">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 32 32">
            <path class="scroll-to-top-btn-icon" d="M30,22.656l-14-13-14,13"/>
        </svg>
    </button>
    <!-- ScrollToTop Button END-->


    <footer>

        <!-- bloc-15 -->
        <div class="bloc l-bloc none" id="bloc-15">
            <div class="container bloc-lg bloc-sm-lg">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-lg-12">
                        <p class="text-lg-center">
                            Copyright @ 2025 Taskify
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- bloc-15 END -->

    </footer>
</div>
<!-- Main container END -->


<!-- Additional JS -->
<script src="../../public/js/all.js?6535"></script>
<!-- Additional JS END -->
<script>
    // Avatar selection logic
    const thumbs = document.querySelectorAll('.avatar-thumb');
    const avatarLarge = document.getElementById('avatar-large');
    const avatarInput = document.getElementById('avatar-input');
    thumbs.forEach(thumb => {
        thumb.addEventListener('click', function () {
            thumbs.forEach(t => t.classList.remove('selected'));
            this.classList.add('selected');
            avatarLarge.src = this.dataset.avatar;
            avatarInput.value = this.dataset.avatar;
        });
    });
</script>
</body>
</html>