<% layout('layouts/boilerplate')%>
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="text-center">
        <h1><%= err.statusCode || 500 %> - <%= err.message %></h1>
        <% if (err.stack) { %>
            <pre><%= err.stack %></pre>
        <% } %>
        <a href="/">Back to Home</a>
    </div>
</div>